<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cormen.bim.mapper.PmsPatrolTaskMapper">
  <resultMap id="BaseResultMap" type="com.cormen.bim.model.PmsPatrolTask">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="REGION_ID" jdbcType="INTEGER" property="regionId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PLAN_START_DATE" jdbcType="TIMESTAMP" property="planStartDate" />
    <result column="PLAN_END_DATE" jdbcType="TIMESTAMP" property="planEndDate" />
    <result column="ACTUAL_START_DATE" jdbcType="TIMESTAMP" property="actualStartDate" />
    <result column="ACTUAL_END_DATE" jdbcType="TIMESTAMP" property="actualEndDate" />
    <result column="AGENT" jdbcType="BIGINT" property="agent" />
    <result column="PATH_ID" jdbcType="INTEGER" property="pathId" />
    <result column="BIM_PATH" jdbcType="VARCHAR" property="bimPath" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, REGION_ID, NAME, PLAN_START_DATE, PLAN_END_DATE, ACTUAL_START_DATE, ACTUAL_END_DATE, 
    AGENT, PATH_ID, BIM_PATH, STATE
  </sql>
  <select id="selectByExample" parameterType="com.cormen.bim.model.PmsPatrolTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_patrol_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_patrol_task
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pms_patrol_task
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cormen.bim.model.PmsPatrolTaskExample">
    delete from pms_patrol_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cormen.bim.model.PmsPatrolTask">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_patrol_task (REGION_ID, NAME, PLAN_START_DATE, 
      PLAN_END_DATE, ACTUAL_START_DATE, ACTUAL_END_DATE, 
      AGENT, PATH_ID, BIM_PATH, 
      STATE)
    values (#{regionId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{planStartDate,jdbcType=TIMESTAMP}, 
      #{planEndDate,jdbcType=TIMESTAMP}, #{actualStartDate,jdbcType=TIMESTAMP}, #{actualEndDate,jdbcType=TIMESTAMP}, 
      #{agent,jdbcType=BIGINT}, #{pathId,jdbcType=INTEGER}, #{bimPath,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cormen.bim.model.PmsPatrolTask">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_patrol_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        REGION_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="planStartDate != null">
        PLAN_START_DATE,
      </if>
      <if test="planEndDate != null">
        PLAN_END_DATE,
      </if>
      <if test="actualStartDate != null">
        ACTUAL_START_DATE,
      </if>
      <if test="actualEndDate != null">
        ACTUAL_END_DATE,
      </if>
      <if test="agent != null">
        AGENT,
      </if>
      <if test="pathId != null">
        PATH_ID,
      </if>
      <if test="bimPath != null">
        BIM_PATH,
      </if>
      <if test="state != null">
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="planStartDate != null">
        #{planStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndDate != null">
        #{planEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartDate != null">
        #{actualStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndDate != null">
        #{actualEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="agent != null">
        #{agent,jdbcType=BIGINT},
      </if>
      <if test="pathId != null">
        #{pathId,jdbcType=INTEGER},
      </if>
      <if test="bimPath != null">
        #{bimPath,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cormen.bim.model.PmsPatrolTaskExample" resultType="java.lang.Long">
    select count(*) from pms_patrol_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pms_patrol_task
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.planStartDate != null">
        PLAN_START_DATE = #{record.planStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planEndDate != null">
        PLAN_END_DATE = #{record.planEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actualStartDate != null">
        ACTUAL_START_DATE = #{record.actualStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actualEndDate != null">
        ACTUAL_END_DATE = #{record.actualEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.agent != null">
        AGENT = #{record.agent,jdbcType=BIGINT},
      </if>
      <if test="record.pathId != null">
        PATH_ID = #{record.pathId,jdbcType=INTEGER},
      </if>
      <if test="record.bimPath != null">
        BIM_PATH = #{record.bimPath,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pms_patrol_task
    set ID = #{record.id,jdbcType=INTEGER},
      REGION_ID = #{record.regionId,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      PLAN_START_DATE = #{record.planStartDate,jdbcType=TIMESTAMP},
      PLAN_END_DATE = #{record.planEndDate,jdbcType=TIMESTAMP},
      ACTUAL_START_DATE = #{record.actualStartDate,jdbcType=TIMESTAMP},
      ACTUAL_END_DATE = #{record.actualEndDate,jdbcType=TIMESTAMP},
      AGENT = #{record.agent,jdbcType=BIGINT},
      PATH_ID = #{record.pathId,jdbcType=INTEGER},
      BIM_PATH = #{record.bimPath,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cormen.bim.model.PmsPatrolTask">
    update pms_patrol_task
    <set>
      <if test="regionId != null">
        REGION_ID = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="planStartDate != null">
        PLAN_START_DATE = #{planStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndDate != null">
        PLAN_END_DATE = #{planEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartDate != null">
        ACTUAL_START_DATE = #{actualStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndDate != null">
        ACTUAL_END_DATE = #{actualEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="agent != null">
        AGENT = #{agent,jdbcType=BIGINT},
      </if>
      <if test="pathId != null">
        PATH_ID = #{pathId,jdbcType=INTEGER},
      </if>
      <if test="bimPath != null">
        BIM_PATH = #{bimPath,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cormen.bim.model.PmsPatrolTask">
    update pms_patrol_task
    set REGION_ID = #{regionId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      PLAN_START_DATE = #{planStartDate,jdbcType=TIMESTAMP},
      PLAN_END_DATE = #{planEndDate,jdbcType=TIMESTAMP},
      ACTUAL_START_DATE = #{actualStartDate,jdbcType=TIMESTAMP},
      ACTUAL_END_DATE = #{actualEndDate,jdbcType=TIMESTAMP},
      AGENT = #{agent,jdbcType=BIGINT},
      PATH_ID = #{pathId,jdbcType=INTEGER},
      BIM_PATH = #{bimPath,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>