<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cormen.bim.mapper.PmsPatrolTaskIssueMapper">
  <resultMap id="BaseResultMap" type="com.cormen.bim.model.PmsPatrolTaskIssue">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DESC" jdbcType="VARCHAR" property="desc" />
    <result column="TASK_ID" jdbcType="INTEGER" property="taskId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SOLUTE_TIME" jdbcType="TIMESTAMP" property="soluteTime" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="PRINCEPLE" jdbcType="INTEGER" property="princeple" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, DESC, TASK_ID, NAME, SOLUTE_TIME, CREATED_TIME, PRINCEPLE, STATE
  </sql>
  <select id="selectByExample" parameterType="com.cormen.bim.model.PmsPatrolTaskIssueExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_patrol_task_issue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_patrol_task_issue
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pms_patrol_task_issue
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cormen.bim.model.PmsPatrolTaskIssueExample">
    delete from pms_patrol_task_issue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cormen.bim.model.PmsPatrolTaskIssue">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_patrol_task_issue (DESC, TASK_ID, NAME, 
      SOLUTE_TIME, CREATED_TIME, PRINCEPLE, 
      STATE)
    values (#{desc,jdbcType=VARCHAR}, #{taskId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{soluteTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}, #{princeple,jdbcType=INTEGER}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cormen.bim.model.PmsPatrolTaskIssue">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_patrol_task_issue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="desc != null">
        DESC,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="soluteTime != null">
        SOLUTE_TIME,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="princeple != null">
        PRINCEPLE,
      </if>
      <if test="state != null">
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="soluteTime != null">
        #{soluteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="princeple != null">
        #{princeple,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cormen.bim.model.PmsPatrolTaskIssueExample" resultType="java.lang.Long">
    select count(*) from pms_patrol_task_issue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pms_patrol_task_issue
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.desc != null">
        DESC = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.taskId != null">
        TASK_ID = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.soluteTime != null">
        SOLUTE_TIME = #{record.soluteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.princeple != null">
        PRINCEPLE = #{record.princeple,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pms_patrol_task_issue
    set ID = #{record.id,jdbcType=INTEGER},
      DESC = #{record.desc,jdbcType=VARCHAR},
      TASK_ID = #{record.taskId,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      SOLUTE_TIME = #{record.soluteTime,jdbcType=TIMESTAMP},
      CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      PRINCEPLE = #{record.princeple,jdbcType=INTEGER},
      STATE = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cormen.bim.model.PmsPatrolTaskIssue">
    update pms_patrol_task_issue
    <set>
      <if test="desc != null">
        DESC = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="soluteTime != null">
        SOLUTE_TIME = #{soluteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="princeple != null">
        PRINCEPLE = #{princeple,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cormen.bim.model.PmsPatrolTaskIssue">
    update pms_patrol_task_issue
    set DESC = #{desc,jdbcType=VARCHAR},
      TASK_ID = #{taskId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      SOLUTE_TIME = #{soluteTime,jdbcType=TIMESTAMP},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      PRINCEPLE = #{princeple,jdbcType=INTEGER},
      STATE = #{state,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>